/* Default Styles */

h1 {
  font-family: 'Open Sans', sans-serif;
}

body { 
  padding-top: 200px; 
    background-color: #f2f2f2;
}

/*  Homepage */

.hero {
  display: block;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  padding: 20px;
  margin-bottom: 40px;
  margin-top: -20px;
}

/* Navbar */

.navbar {
  background-color: white;
  height: 180px;
}

.navbarContainer {
  margin-top: 140px;
}

.navbar-brand {
  height: 180px;
}

.navbar-nav {
  background-color: #e58018;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  padding-top:      8px;
  padding-bottom:   8px;
}

.navbar-default .navbar-nav > .active a {
  background-color: #A55C11;
  color: white;
}


/* results Page */

.sectionContainer {
  padding: 20px;
  background-color: white;
  position: relative;
  margin-bottom: 20px;
}

/*mapResultsContainer*/
.sectionHeader{
  position: absolute;
  background: #937388;
  padding: 6px 16px;
  margin: -20px;
  color: white; 
  text-transform: uppercase;
  font-weight: 600;
}


#resultsSearch{
  margin-top: 30px;
  width: 100%;
}



/* Sticky footer styles from bootstrap
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left:0;
  /* Set the fixed height of the footer here */
  height: 60px;

  background-color: #fff;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 0px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}


/*bootsnipp login style*/
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
  border-right:0; 
  box-shadow:0 0 0; 
  border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}